.md {
    .divGlobal {
      background: var(--dark-green-turquesa);
      color: white;
      font-weight: bold;
      font-size: 45px;
    }
  
    .divButton {
      font-size: 30px;
      padding: 1%;
    }
  
    .divTitle {
      font-size: 30px;
      text-align: center;
      margin: auto;
      padding-right: 10%;
    }
  }